{% from "crud/macros.html" import render_field %}
{% from "crud/macros.html" import render_flash_messages %}
{% from "crud/macros.html" import url_for_refresh %}

{{ url_for_refresh(url) }}

{{ render_flash_messages() }}

{% if instance_id %}
	{% set form_action = url_for('crud_include', model_id=model_id, id=instance_id, polymorphic=polymorphic) %}
{% else %}
	{% set form_action = url_for('crud_include', model_id=model_id, 
	polymorphic=polymorphic) %}
{% endif %}

<h4>{{ title }}</h4>

<form method="POST" id="test" action="{{ form_action }}" data-model="{{ model_id }}" class="form-horizontal" enctype="multipart/form-data">
    
    {{ form.csrf_token }}

    {% for field in form %}
	    {{ render_field(field) }}
    {% endfor %}
    
	<div class="control-group">
		<div class="controls">
			<input type="submit" id="submit-and-redirect" name="submit-and-redirect" value="Salvar" class="btn btn-primary">
		    <input type="submit" id="submit-and-continue" name="submit-and-continue" value="Salvar e Continuar" class="btn">
		</div>
	</div>

</form>

