UL.nav.nav-tabs.nav-stacked UL LI
{
	display: block;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding-bottom: 7px;
	padding-top: 8px;
	padding-left: 12px;
	padding-right: 0px;
}
TABLE#aprovapp-list-table .aprovapp-checkbox-column
{
	width: 16px;
}
TABLE#aprovapp-list-table BUTTON.aprovapp-checkbox
{
	padding: 6px;
}
TABLE#aprovapp-list-table TBODY TR.selected
{
	background-color: #E2F1FF;
}
UL#aprovapp-left-menu LI.accordion-group
{
	border: 0px;
}
UL#aprovapp-left-menu LI.accordion-group I.icon
{
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	margin-top: 3px;
	/*+opacity:10%;*/
	filter: alpha(opacity=10);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
	-moz-opacity: 0.1;
	opacity: 0.1;
}
UL.nav.nav-tabs.nav-stacked UL
{
	margin: 0px;
}
