/*+clearfix {*/
DIV#left-sidebar:after, #content:after, DIV.form_field.buttons:after, DIV.pagination:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
DIV#left-sidebar, #content, DIV.form_field.buttons, DIV.pagination
{
	display: inline-block;
}
DIV#left-sidebar, #content, DIV.form_field.buttons, DIV.pagination
{
/*\*/
	display: block;
/**/
	-height: 1px;
}
/*+}*/
/*+init {*/
*
{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
H1, H2, H3, H4, H5, H6, TH
{
	font-weight: inherit;
	=font-weight: expression(this.__FW?this.__FW:(new Function('t','return (t.__FW=t.parentNode.currentStyle.fontWeight)'))(this));
}
ADDRESS, CITE, DFN, VAR
{
	font-style: inherit;
	=font-style: expression(this.__FS?this.__FS:(new Function('t','return (t.__FS=t.parentNode.currentStyle.fontStyle)'))(this));
}
CAPTION, CODE, KBD, PRE, SAMP, TT, INPUT, TEXTAREA, SELECT, BUTTON
{
	font-family: inherit;
	=font-family: expression(this.__FF?this.__FF:(new Function('t','return (t.__FF=t.parentNode.currentStyle.fontFamily)'))(this));
}
TABLE
{
	border-spacing: 0;
}
TH
{
	text-align: left;
}
HTML, BODY, THEAD, TBODY, TFOOT, TR, TH, TD, BR
{
	position: static;
}
INPUT[type=hidden]
{
	display: none !important;
}
FIELDSET, A IMG
{
	border: 0;
}
BODY
{
	font-size: 100%;
	font-family: sans-serif;
	line-height: 1.5;
}
/*+}*/
#header
{
	width: 100%;
	height: 64px;
	background-color: #0072C6;
	color: #FFFFFF;
	text-align: left;
}
#header H1
{
	font-size: 2em;
	/*+placement:margin-auto 15px 5px;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 15px;
	top: 5px;
	margin-left: 6px;
}
/*[clearfix]*/DIV#left-sidebar
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	height: 100%;
	padding: 15px;
	border-right: 1px solid #E3E3E3;
}
DL DD LI A
{
	list-style-type: none;
	padding: 4px 6px;
	text-decoration: none;
	color: #525252;
	font-size: 1em;
	display: block;
}
DL DD LI
{
	list-style-type: none;
	display: inline;
}
DL DT A
{
	padding: 2px 6px;
	text-decoration: none;
	background-color: #0072C6;
	color: #FFFFFF;
	font-size: 1.2em;
	display: block;
}
BODY
{
	margin: 0px;
	padding: 0px;
	font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
}
/*[clearfix]*/#content
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	padding: 15px 50px 15px 25px;
}
DIV.pagination .page, DIV.pagination .pagination_summary
{
	display: block;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	font-size: 1em;
	padding: 3px;
}
DIV.pagination SPAN.page
{
	color: #B9B9B9;
}
DIV.pagination A.page
{
	color: #525252;
}
DIV.pagination A.page.actual
{
	color: #525252;
	background-color: #CECECE;
}
DIV.pagination SPAN.pagination_summary
{
	border-bottom: 1px solid #999999;
	display: block;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #999999;
	border-left: 1px solid #E3E3E3;
	padding-right: 15px;
	padding-left: 15px;
	color: #525252;
}
DIV.pagination .page
{
	width: 27px;
	text-align: center;
	display: block;
	text-decoration: none;
	background-color: #ECECEC;
	border-bottom: 1px solid #999999;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #999999;
}
/*[clearfix]*/DIV.pagination
{
	font-size: 0.9em;
}
TABLE#list_table
{
	border-spacing: 0;
	border-collapse: collapse;
	border-left: 1px solid #E3E3E3;
	border-right: 1px solid #E3E3E3;
	width: 100%;
	border-bottom: 1px solid #999999;
}
TABLE#list_table TH, TABLE#list_table TD
{
	padding: 6px 18px;
	border-right: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
	font-size: 0.9em;
}
TABLE#list_table TH
{
	background-color: #E3E3E3;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #999999;
	font-size: 0.9em;
}
H2
{
	font-size: 2em;
	color: #999999;
	margin-bottom: 13px;
}
DIV.form_field UL.errors LI
{
	list-style-type: none;
	font-size: 0.7em;
	color: #DE1616;
	margin-left: 128px;
}
DIV.form_field
{
	padding: 4px;
	margin: 4px;
}
/*[clearfix]*/DIV.form_field.buttons
{
	padding-left: 130px;
	width: initial;
	/*+box-sizing:padding-box;*/
	-webkit-box-sizing: padding-box;
	-moz-box-sizing: padding-box;
	-ms-box-sizing: padding-box;
	box-sizing: padding-box;
}
DIV.form_field LABEL.label
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	width: 118px;
	font-size: 0.8em;
	padding: 4px;
}
DL DT A, DL DD LI A
{
	margin-bottom: 4px;
}
DL DT A:hover
{
	background-color: #005B9E;
}
DL DD LI A:hover
{
	background: #E3E3E3;
}
INPUT, TEXTAREA
{
	border: 1px solid #999999;
	padding: 4px;
	font-size: 0.8em;
	width: 300px;
}
DIV.form_field INPUT.has_error
{
	border: 1px solid #DE1616;
}
DIV.form_field.buttons INPUT.button
{
	width: auto;
	border: 1px solid #0072C6;
	background-color: #0072C6;
	color: #FFFFFF;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 1em;
}
DIV.form_field.buttons INPUT.button:hover
{
	background-color: #005B9E;
	border: 1px solid #005B9E;
}
DIV.pagination A.page:hover
{
	background-color: #B9E1FF;
}
