/*tables*/
TABLE.tablesorter
{
	font-family: arial;
	background-color: #CDCDCD;
	margin: 10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
TABLE.tablesorter THEAD TR TH, TABLE.tablesorter TFOOT TR TH
{
	background-color: #E6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
TABLE.tablesorter THEAD TR .header
{
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
TABLE.tablesorter TBODY TD
{
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
TABLE.tablesorter TBODY TR.odd TD
{
	background-color: #F0F0F6;
}
TABLE.tablesorter THEAD TR .headerSortUp
{
	background-image: url(asc.gif);
}
TABLE.tablesorter THEAD TR .headerSortDown
{
	background-image: url(desc.gif);
}
TABLE.tablesorter THEAD TR .headerSortDown, TABLE.tablesorter THEAD TR .headerSortUp
{
	background-color: #8DBDD8;
}
