<div ng-controller="QuestionCtrl" class="row">

  <!-- Side Question Content -->
  <div class="small-12 large-3 columns">

    <!-- Pre-answer content -->
    <div ng-show="pre_answer_area">

      <!-- Answer Button -->
      <a href="" class="button expand radius" ng-click="submitAnswer()" ng-class="answer_button_disabled">
        {{ answer_button_text }}
      </a>

      <!-- Auxiliar text 1 -->
      <div class="alert-box secondary hide-for-small">
        <p>{{ help_text_1 }}</p>
      </div>

      <!-- Kick Mode Button and Reset Button-->
      <a href=""  class="button expand" ng-click="kickMode()" ng-class="{true:'alert', false:'alert-dark'}[kick_mode]" style="width:50%">CHUTAR</a><a href="" class="button secondary expand" ng-click="reset()" style="width:50%">LIMPAR</a>

      <!-- Answer Mode Buttons -->
      <a href="#" class="button primary small" ng-click="changeMode(click_right)" ng-class="click_right" style="width:50%">Marcar</br>Certas</a><a href="#" class="button primary small" ng-click="changeMode(click_wrong)" ng-class="click_wrong" style="width:50%">Marcar</br>Erradas</a>
      

    </div>

    <!-- Sending answer content -->
    <div ng-show="answering_area">
      <p> ANSWERING </p>
    </div>

    <div ng-show="right_answer_area" >
      <a href="#" class="large button expand success radius"><i class="general foundicon-checkmark"></i> RESPOSTA {{ showScore() }}% CERTA!</a>
    </div>

    <div ng-show="kick_answer_area">
      <a href="#" class="large button expand primary radius"><i class="general foundicon-idea"></i> FOI POR POUCO! {{ showScore() }}%</a>     
    </div>

    <div ng-show="wrong_answer_area">
      <a href="#" class="large button expand alert radius"><i class="general foundicon-error"></i> RESPOSTA ERRADA!</a>
    </div>

  </div>

  <!-- Question -->
  <div class="small-12 large-9 columns">
    <div class="panel radius">
      <h5 class="subheader"><strong ng-bind="number"></strong>) <span ng-bind-html="enunciation"></span></h4>  
      <a ng-show="reference.length" ng-click="showReference()" class="button small secondary reference"> <i class="reference foundicon-page" ></i>Texto da Questão</a>
      <hr/>
      <dl question>
        <dd ng-repeat="choice in choices" choice index="{{ $index }}" id="{{ choice.id }}"ng-click="select($index)" style="cursor:pointer"><span><b>{{ choiceLetter($index) }})</b> {{ choice.text }}</span></dd>
      </dl>
    </div>
  </div>

</div>