<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ng-app><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" ng-app="aprovapp">
<!--<![endif]-->

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <link rel="stylesheet" href="/static/foundation/css/normalize.css" />
  <link rel="stylesheet" href="/static/foundation/css/foundation.css" />

  <!--<link rel="stylesheet" href="/static/almost-flat-ui/stylesheets/normalize.css" />
  <link rel="stylesheet" href="/static/almost-flat-ui/stylesheets/app.css" />-->

  <link rel="stylesheet" href="/static/foundation/foundation_icons_general/stylesheets/general_foundicons.css" />
  <!-- <link rel="stylesheet" href="/static/foundation/foundation_icons_general_enclosed/stylesheets/general_enclosed_foundicons.css" /> -->

  <script src="/static/foundation/js/vendor/custom.modernizr.js"></script>

  <title>MODAL TEST</title>

  <!-- <link href="/static/css/aprovapp.css" rel="stylesheet" media="screen"> -->


</head>

<body>

 <nav class="top-bar">
<ul class="title-area">
<!-- Title Area -->
<li class="name">
<h1>
<a href="#">
Top Bar Title
</a>
</h1>
</li>
<li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
</ul>
<section class="top-bar-section">
<!-- Right Nav Section -->
<ul class="right">
<li class="divider"></li>
<li class="has-dropdown">
<a href="#">Main Item 1</a>
<ul class="dropdown">
<li><label>Section Name</label></li>
<li class="has-dropdown">
<a href="#" class="">Has Dropdown, Level 1</a>
<ul class="dropdown">
<li><a href="#">Dropdown Options</a></li>
<li><a href="#">Dropdown Options</a></li>
<li><a href="#">Level 2</a></li>
<li><a href="#">Subdropdown Option</a></li>
<li><a href="#">Subdropdown Option</a></li>
<li><a href="#">Subdropdown Option</a></li>
</ul>
</li>
<li><a href="#">Dropdown Option</a></li>
<li><a href="#">Dropdown Option</a></li>
<li class="divider"></li>
<li><label>Section Name</label></li>
<li><a href="#">Dropdown Option</a></li>
<li><a href="#">Dropdown Option</a></li>
<li><a href="#">Dropdown Option</a></li>
<li class="divider"></li>
<li><a href="#">See all &rarr;</a></li>
</ul>
</li>
<li class="divider"></li>
<li><a href="#">Main Item 2</a></li>
<li class="divider"></li>
<li class="has-dropdown">
<a href="#">Main Item 3</a>
<ul class="dropdown">
<li><a href="#">Dropdown Option</a></li>
<li><a href="#">Dropdown Option</a></li>
<li><a href="#">Dropdown Option</a></li>
<li class="divider"></li>
<li><a href="#">See all &rarr;</a></li>
</ul>
</li>
</ul>
</section>
</nav>

<!-- End Top Bar -->
<!-- Main Page Content and Sidebar -->
<div class="row">
<!-- Contact Details -->
<div class="large-9 columns">

<div ng-controller="QuestionCtrl">

  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Features</a></li>
    <li class="unavailable"><a href="#">Gene Splicing</a></li>
    <li class="current"><a href="#">Cloning</a></li>
  </ul>

  <div class="row">
    <div class="small-12 columns">
      <h4 class="subheader">{{ enunciation }}</h4>  
    </div>
  </div>
  <div class="row">
    <div class="small-9 columns">
      <div  class="panel">
        <dl>
          <dd ng-repeat="choice in choices" highlight="{{ $index }}" ng-click="select($index)" style="cursor:pointer"><span><b>{{ choiceLetter($index) }})</b> {{ choice.text }}</span></dd>
        </dl>
      </div>
    </div>
    <div class="small-3 columns">
      <div class="row">
        <div class="columns">
          <a href="#" ng-class="answer_button_disabled" class="button expand">
            {{ answer_button_text }}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="columns" style="height: 200px">
          <p>{{ help_text_1 }}</p>
          <p>{{ help_text_2 }}</p>
        </div>
      </div>

      <div class="row">
        <div class="columns">
          
          <div class="switch round large">
            <input id="x" name="switch-x" type="radio" ng-model="answer_mode" value="0">
            <label for="x" onclick="">Erradas</label>
            <input id="x1" name="switch-x" type="radio" ng-model="answer_mode" value="1">
            <label for="x1" onclick="">Certas</label>
            <span></span>
          </div>
        
        </div>
      </div>

      <div class="row">
        <div class="columns">
          <a href="" ng-click="kickMode()" class="button alert expand">
            Chutar!
          </a>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <a href="" ng-click="reset()" class="button secondary expand">
            Limpar
          </a>
        </div>
      </div>
    </div>
  </div>


    ANSWER MODE: {{ answer_mode }}</br>
    SELECTED: {{ selected }}</br>
    WRONG SELECTED: {{ wrong_selected }}</br>


    <ul >
      <li ng-repeat="choice in choices"><span>{{ choiceLetter($index) }}</span> - {{ choice.selected }} - {{ choice.wrong }}</li>
    </ul>

    {{ main }}

    {{ inDoubt() }}




</div>
<!-- End Contact Details -->
<!-- Sidebar -->
 
<div class="large-3 columns">
<h5>Map</h5>
<!-- Clicking this placeholder fires the mapModal Reveal modal -->
<p>
<a href="" data-reveal-id="mapModal"><img src="http://placehold.it/400x280"></a><br />
<a href="" data-reveal-id="mapModal">View Map</a>
</p>
<p>
123 Awesome St.<br />
Barsoom, MA 95155
</p>
</div>
<!-- End Sidebar -->
</div>
<!-- End Main Content and Sidebar -->
<!-- Footer -->
<footer class="row">
<div class="large-12 columns">
<hr />
<div class="row">
<div class="large-6 columns">
<p>&copy; Copyright no one at all. Go to town.</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li><a href="#">Link 1</a></li>
<li><a href="#">Link 2</a></li>
<li><a href="#">Link 3</a></li>
<li><a href="#">Link 4</a></li>
</ul>
</div>
</div>
</div>
</footer>
<!-- End Footer -->
<!-- Map Modal -->
<div class="reveal-modal" id="mapModal">
<h4>Where We Are</h4>
<p><img src="http://placehold.it/800x600" /></p>
<!-- Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden. -->
<a href="#" class="close-reveal-modal">&times;</a>
</div>

























<script>
document.write('<script src=' +
  ('__proto__' in {} ? '/static/foundation/js/vendor/zepto' : '/static/foundation/js/vendor/jquery') +
  '.js><\/script>')
</script>

<script src="/static/js/app/vendor/angular.min.js" type="text/javascript"></script>
<script src="/static/js/question/question.js" type="text/javascript"></script>


<script>

  var app = angular.module('aprovapp', []);

  registerQuestion(app);

</script>


</body>
</html>