<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ng-app><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" ng-app="aprovapp">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <link rel="stylesheet" href="/static/almost-flat-ui/stylesheets/normalize.css" />
  <link rel="stylesheet" href="/static/almost-flat-ui/stylesheets/app.css" />
  <link rel="stylesheet" href="/static/foundation/foundation_icons_general/stylesheets/general_foundicons.css" />

  <link rel="stylesheet" href="/static/js/modal/modal.css" />
  <link href="/static/js/question/question.css" rel="stylesheet" media="screen">

  <title>MODAL TEST</title>

</head>


<body>

  <div modal></div>
  <div dont-touch></div>

  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
            Top Bar Title
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Main Item 1</a>
          <ul class="dropdown">
            <li><label>Section Name</label></li>
            <li class="has-dropdown">
              <a href="#" class="">Has Dropdown, Level 1</a>
              <ul class="dropdown">
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Level 2</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all &rarr;</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="#">Main Item 2</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Main Item 3</a>
          <ul class="dropdown">
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all &rarr;</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
  <!-- End Top Bar -->
  



  <!-- Question Controller -->
  <div class="row" ng-controller="QuestionCtrl">

    <!-- Question -->
    <div class="small-12 large-9 columns">
      <div class="panel radius">
        <h4 class="subheader">{{ enunciation }}</h4>  
        <a href="#" class="button secondary" ng-click="showReference()">Referência</a>
        <hr/>
        <dl question>
          <dd ng-repeat="choice in choices" highlight="{{ $index }}" ng-click="select($index)" style="cursor:pointer"><span><b>{{ choiceLetter($index) }})</b> {{ choice.text }}</span></dd>
        </dl>
      </div>
    </div>

    <!-- Side Question Content -->
    <div class="small-12 large-3 columns">

      <!-- Pre-answer content -->
      <div ng-show="pre_answer_area">

        <!-- Button text -->
        <a href="#" class="large button expand radius" ng-click="submitAnswer()" ng-class="answer_button_disabled" >
          {{ answer_button_text }}
        </a>

        <!-- Auxiliar text 1 -->
        <div class="alert-box secondary hide-for-small">
          <p>{{ help_text_1 }}</p>
        </div>

        <!-- Kick Mode Button -->
        <a href=""  class="button expand radius" ng-click="kickMode()" ng-class="{true:'alert', false:'alert-dark'}[kick_mode]">
          MODO CHUTE
        </a>

        <!-- Auxiliar Text 2 -->
        <div class="alert-box secondary hide-for-small">
          <p>Em caso de pânico, entre em MODO CHUTE e seja feliz!</p>
        </div>

        <!-- Answer Mode Buttons
        <ul class="small-block-grid-2">
          <li><a href="#" class="button primary small" ng-click="changeMode(click_right)" ng-class="click_right">Marcar<br/>Certas</a></li>
          <li><a href="#" class="button primary small" ng-click="changeMode(click_wrong)" ng-class="click_wrong">Marcar<br/>Erradas</a></li>
        </ul> -->

        <!-- Answer Mode Buttons -->
        <a href="#" class="button primary small" ng-click="changeMode(click_right)" ng-class="click_right" style="width:50%">Marcar</br>Certas</a><a href="#" class="button primary small" ng-click="changeMode(click_wrong)" ng-class="click_wrong" style="width:50%">Marcar</br>Erradas</a>

        <!-- Reset Button -->
        <a href="" class="button secondary expand radius" ng-click="reset()" >
          Limpar
        </a>

      </div>

      <!-- Sending answer content -->
      <div ng-show="answering_area">
        <p> ANSWERING </p>
      </div>

      <div ng-show="right_answer_area" >
        <a href="#" ng-click="restart()" class="large button expand success radius"><i class="general foundicon-checkmark"></i> RESPOSTA CERTA!</a>
      </div>

      <div ng-show="doubt_answer_area">
        <a href="#" ng-click="restart()" class="large button expand primary radius"><i class="general foundicon-idea"></i> FOI POR POUCO! {{ showScore() }}%</a>     
      </div>

      <div ng-show="wrong_answer_area">
        <a href="#" ng-click="restart()" class="large button expand alert radius"><i class="general foundicon-error"></i> RESPOSTA ERRADA!</a>
      </div>


    </div>


  </div>


  <script>
  document.write('<script src=' +
    ('__proto__' in {} ? '/static/foundation/js/vendor/zepto' : '/static/foundation/js/vendor/jquery') +
    '.js><\/script>')
  </script>

  <script src="/static/foundation/js/vendor/custom.modernizr.js"></script>
  <script src="/static/js/app/vendor/angular.min.js" type="text/javascript"></script>
  <script src="/static/js/spin.min.js" type="text/javascript"></script>
  <script src="/static/js/stateManager.js" type="text/javascript"></script>
  <script src="/static/js/modal/modal.js" type="text/javascript"></script>
  <script src="/static/js/question/question.js" type="text/javascript"></script>


  <script>

  var app = angular
  .module('aprovapp', ["stateManager"])
  .config(function($locationProvider) {
        if(Modernizr.history) { // use html5 if available
          $locationProvider.html5Mode(true);
        } else {
          $locationProvider.html5Mode(false).hashPrefix('!');
        }
      });

  registerDontTouch(app);
  registerModal(app);
  registerQuestion(app);

  </script>

</body>
</html>